@charset "UTF-8";
@import "variables.css";
@import "font.css";

a {
  color: black;
  text-decoration: none;
}

p {
  margin: 0;
}

section {
  width: 980px;
  min-height: 1500px;
}

.book_img {
  width: 60px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.summary_info_wrapper {
  font-size: 14px;
  font-weight: 500;
  border: 1px solid #87b4e9;
}

.summary_info_wrapper text {
  color: #738096;
  font-size: 12px;
}
.summary_info_wrapper p {
  opacity: 85%;
}

.summary_total_wrapper {
  background: #ebf6ff;
}
.summary_total_wrapper span {
  font-size: 20px;
  font-weight: 700;
  color: var(--main-color);
}

.buy_button_wrapper {
  height: 54px;
}

#buy_button {
  background: var(--main-color);
  border: 1px solid var(--main-color);
  box-shadow: 0 2px 4px 0 rgb(31 140 230 / 30%);
}

#buy_button:focus,
#buy_button:hover {
  background: #0077d9;
}

.cart_wrapper {
  position: relative;
}

form {
  width: 618px;
}

.btn-outline-secondary{
	--bs-btn-font-weight: 800;
	--bs-btn-padding-x: 10px;
	--bs-btn-padding-y: 5px;
	font-size:12px;
	border: 1px solid var(--bs-gray-400);
}

form label, form span {
	font-size: 14px;
}


#cart_summary_wrapper {
  position: absolute;
  top: 0;
  right: 0;
  width: 290px;
  height: 100%;
}

.cart_book_price {
	width: 25%;
}

footer div.col-3 a {
    position: relative;
    display: block;
    padding: 10px 15px;
}

.pdf-warning {
	background: #FFF9F0;
}
.pdf-warning span {
	font-size: 12px;
	color: #A37A3D;
}

ul {
	padding-inline-start:20px;
}

.radio-button{
	width:16px;
	height:16px
}

label, input[type=checkbox], input[type=radio]{
	cursor: pointer;
	
}

.tax-deduction{
	background:#ebf6ff;
	color: var(--main-color);
	opacity: 85%;
	font-size:11px;
	font-weight:500;
}

.naver-pay-icon {
	background: url(data:image/svg+xml,%3Csvg%20viewBox%3D%220%200%20190%2048%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20fill%3D%22%232db400%22%3E%3Cg%3E%3Cpath%20d%3D%22M142.9%2015h-4.3v7.7h4c3%20.1%204.4-1.2%204.4-3.7v-.5c0-2.3-1.4-3.5-4.1-3.5zm10.7%2013.5v.4c0%201.5%201.2%202.2%202.7%202.2%201.4%200%202.3-.3%203.1-1%20.7-.6%201-1.3%201-2.5v-1.4h-3.9c-2%200-2.9.8-2.9%202.3z%22/%3E%3Cpath%20d%3D%22M.2%200v48h189.6V0H.2zM125%2043.2H5V4.8h120v38.4zm24.9-24.1c0%203.4-2.3%206.1-6.8%206.1h-4.5v8.1h-2.8V12.6h7.3c4.6%200%206.8%202.5%206.8%205.9v.6zm13.3%2014.2h-2.6v-1.9c-.3.6-.9%201.1-1.4%201.4-.8.5-1.7.7-3.1.7-3.1%200-5.1-1.7-5.1-4.4v-.8c0-2.7%201.7-4.5%205.6-4.5h3.9v-.9c0-2.1-.9-3.1-3.2-3.1-1.8%200-3%20.6-4.4%201.6l-1.4-2.1c1.5-1.1%203.3-2%205.8-2%203.5%200%205.9%201.8%205.9%205v11zm7.8%206.5l-2.5-.9%202-5.4-5.6-16h3l4.1%2012.6%204.1-12.6h2.9l-8%2022.3z%22/%3E%3Cpath%20d%3D%22M21.6%2023.9l6.5%209.4h7V14.6h-7V24l-6.5-9.4h-7v18.7h7zM103.2%2027.5l4.2%205.8h8l-5.6-7c2.5-.7%204.1-2.5%204.1-5.3%200-4.8-3.8-6.4-8.9-6.4h-8.7v18.7h7v-5.8h-.1zm-.2-8.2h1.5c.7%200%201.5.2%201.9.5.4.3.6.8.6%201.4%200%20.6-.2%201-.6%201.3-.5.4-1.2.5-1.9.5H103v-3.7zM93.6%2028.5h-7.4v-2.2h6.7v-4.6h-6.7v-2.2h7.2v-4.9H79.3v18.7h14.3zM44.9%2030.9h5.8l.7%202.4h7.7l-7.3-18.7h-7.9l-7.3%2018.7h7.8l.5-2.4zm2.8-10.5h.2l1.6%206.2H46l1.7-6.2zM70%2033.4l7.8-18.8h-7.6l-3.4%2011.3h-.2l-3.4-11.3h-7.6l7.8%2018.7H70z%22/%3E%3C/g%3E%3C/svg%3E) center center no-repeat;
    width: 79px;
    height: 20px;
}
.kakao-pay-icon {
    background: url(data:image/svg+xml,%3Csvg%20viewBox%3D%220%200%20156%2048%22%20id%3D%22Layer_1%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20fill%3D%22%231e1e1e%22%3E%3Cstyle%3E.st0%7Bfill%3A%231e1e1e%7D%3C/style%3E%3Cpath%20d%3D%22M51.64%2020.205c0%2011.039-11.433%2020.008-25.429%2020.008-1.577%200-3.154-.099-4.534-.296l-10.251%206.899c-.197.197-.296.197-.493.197s-.296%200-.493-.197-.394-.493-.197-.789l2.366-8.969C5.512%2033.413.781%2027.105.781%2020.008.781%208.969%2012.215%200%2026.211%200s25.33%208.969%2025.429%2020.205zM155.219%205.109l-9.852%2026.912c-1.322%203.604-2.763%206.848-4.565%209.612-1.802%202.763-3.845%204.806-6.368%206.368l-4.806-4.445c1.322-1.322%202.643-2.523%203.604-3.845.961-1.322%201.922-2.883%202.883-4.445L124.942%205.109l8.65-.601%206.488%2023.068%206.728-23.068%208.411.601zM109.684%204.147c-1.922%200-3.845.36-6.007.961-2.163.601-3.845%201.322-5.166%202.523l2.283%205.407c1.322-.601%202.643-1.201%204.205-1.562%201.562-.36%202.883-.601%204.085-.601%201.562%200%202.883.36%203.845%201.201.961.721%201.322%201.922%201.322%203.604v.961h-4.565c-4.085%200-7.089.721-9.371%202.523-2.163%201.682-3.244%204.085-3.244%207.329%200%203.124.721%205.407%202.523%206.968%201.562%201.682%203.845%202.523%206.728%202.523%201.322%200%202.643-.24%204.205-.721%201.562-.601%203.124-1.322%204.566-2.523l.721%202.523h5.527V16.042c0-3.845-.961-6.968-3.124-8.891-1.805-2.042-4.688-3.004-8.533-3.004zm4.445%2023.308c-.36.36-.721.601-1.322.961-.601.36-.961.601-1.562.721-.601.24-1.201.36-1.682.601-.601.24-1.201.24-1.682.24-2.283%200-3.484-1.201-3.484-3.484%200-2.883%202.163-4.445%206.127-4.445h3.604v5.406zM89.916%208.923C88.417%206%2085.627%203.693%2082.319%203.252a16.257%2016.257%200%200%200-2.092-.134c-3.912-.012-6.695%201.983-8.29%203.563-.613-1.366-1.364-2.636-2.046-2.636-1.478%200-4.846.062-4.846.062v43.039h8.131V36.087c1.026.102%202.276.169%202.4.174%204.608.183%209.295-.544%2012.432-3.981%203.479-3.812%204.513-10.463%204.086-15.468-.233-2.728-.927-5.446-2.178-7.889zm-4.728%2010.708c-.155%203.271-1.183%207.284-3.953%209.314-.236.173-.482.33-.738.471-2.177%201.201-4.798%201.05-7.321.838V10.957c.422-.65.966-1.185%201.687-1.48%202.277-.932%205.158-.371%207.107%201.056%202.758%202.021%203.374%205.81%203.218%209.098z%22/%3E%3C/svg%3E) center center no-repeat;
    background-color: #ffeb00;
    background-size: 36px 11px;
    width: 48px;
    height: 20px;
    border-radius: 10px;
}
.samsung-pay-icon{
    background: url(data:image/svg+xml,%3Csvg%20viewBox%3D%220%200%20333%2048%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20fill%3D%22%231428a0%22%3E%3Cpath%20d%3D%22M235.192%200c-1.689%200-3.362.272-4.97.808-1.608.537-3.654%201.744-4.705%203.43V.768h-7.601V48h7.486V31.634c.835%201.45%203.166%202.783%204.821%203.325%201.69.575%203.482.867%205.324.867%202.54%200%204.478-.448%206.554-1.33%202.071-.883%203.962-2.207%205.621-3.942%201.573-1.611%202.799-3.539%203.648-5.739a18.046%2018.046%200%200%200%201.333-6.784c0-5.042-1.783-9.309-5.156-12.816C243.899%201.422%20239.402%200%20235.192%200zm6.859%2026.079c-1.784%201.81-4.14%202.991-7.037%202.991-2.86%200-5.315-.745-7.305-2.87-1.983-2.117-2.746-5.238-2.746-8.451%200-3.009.785-6.026%202.814-8.148%201.987-2.04%204.401-2.907%207.176-2.907%202.976%200%205.446%201.173%207.158%202.989%201.994%202.115%202.972%205.077%202.972%208.415%200%203.052-.974%205.896-3.032%207.981zM324.697.767l-9.653%2024.272L304.573.767h-8.019l14.73%2032.333L304.86%2048h7.878L332.756.767zM284.367%204.238c-1.051-1.686-3.097-2.893-4.705-3.43a15.688%2015.688%200%200%200-4.97-.808c-4.209%200-8.707%201.422-12.356%205.214-3.374%203.508-5.156%207.774-5.156%2012.816%200%202.31.448%204.592%201.333%206.784.849%202.199%202.075%204.128%203.648%205.739%201.659%201.735%203.549%203.06%205.621%203.942%202.076.883%204.014%201.33%206.554%201.33%201.842%200%203.634-.292%205.324-.867%201.656-.541%203.986-1.875%204.821-3.325v3.562h7.486V.767h-7.601l.001%203.471zM282.175%2026.2c-1.99%202.125-4.445%202.87-7.305%202.87-2.897%200-5.253-1.181-7.037-2.991-2.058-2.086-3.032-4.929-3.032-7.981%200-3.338.978-6.299%202.972-8.415%201.713-1.816%204.182-2.989%207.158-2.989%202.775%200%205.189.868%207.176%202.907%202.029%202.122%202.814%205.14%202.814%208.148%200%203.214-.763%206.334-2.746%208.451zM168.802%2028.439h-.153l-6.713-22.878h-10.809v28.857h7.161l-.408-23.687h.183l7.186%2023.687h10.383V5.561h-7.224zM31.193%205.561l-5.391%2029.134h7.864l3.992-26.451h.17l3.886%2026.451h7.849L44.177%205.561zM75.243%205.561l-3.606%2022.282h-.154L67.91%205.561H56.02l-.656%2029.134h7.285l.18-26.207h.163l4.889%2026.207h7.385l4.863-26.207h.149l.196%2026.207h7.301l-.653-29.134zM135.625%2027.111c0%20.376-.008.798-.064%201.112-.146.713-.769%202.094-2.806%202.094-2.026%200-2.653-1.381-2.793-2.094a6.172%206.172%200%200%201-.056-1.112V5.558h-7.378v20.885c-.006.546.036%201.638.071%201.93.498%205.435%204.79%207.184%2010.156%207.184%205.359%200%209.678-1.749%2010.173-7.184.03-.292.091-1.384.091-1.93V5.558h-7.393v21.553h-.001zM7.745%2013.063c-.143-.605-.11-1.2-.033-1.526.21-.95.847-1.972%202.664-1.972%201.72%200%202.716%201.072%202.716%202.634v1.819h7.27v-2.047c0-6.352-5.706-7.346-9.841-7.346-5.172%200-9.401%201.726-10.185%206.483-.197%201.281-.224%202.443.067%203.91%201.261%205.972%2011.636%207.688%2013.125%2011.446.282.714.192%201.616.064%202.163-.241.965-.892%201.965-2.847%201.965-1.817%200-2.916-1.059-2.916-2.646l-.023-2.828H0v2.246c0%206.509%205.106%208.461%2010.575%208.461%205.293%200%209.623-1.785%2010.311-6.646.365-2.526.1-4.174-.013-4.789-1.235-6.116-12.304-7.909-13.128-11.327zM102.576%2013.12a3.697%203.697%200%200%201-.044-1.499c.204-.922.834-1.939%202.633-1.939%201.711%200%202.691%201.041%202.691%202.595v1.794h7.187v-2.014c0-6.284-5.643-7.27-9.714-7.27-5.13%200-9.336%201.678-10.088%206.407-.227%201.265-.257%202.415.067%203.886%201.246%205.91%2011.497%207.601%2012.98%2011.348.297.692.177%201.584.064%202.13-.23.959-.9%201.921-2.814%201.921-1.808%200-2.899-1.025-2.899-2.605v-2.806h-7.748v2.236c0%206.448%205.065%208.372%2010.495%208.372%205.204%200%209.501-1.773%2010.195-6.593.348-2.485.09-4.124-.042-4.748-1.215-6.028-12.165-7.819-12.963-11.215zM193.604%2022.594h2.982v4.21c.003.375-.019.786-.072%201.104-.13.802-.87%202.116-2.97%202.116-2.113%200-2.846-1.314-2.997-2.116-.032-.318-.05-.729-.05-1.104V13.473c0-.467.018-.995.112-1.373.169-.711.8-2.111%202.895-2.111%202.227%200%202.788%201.479%202.92%202.111.09.413.09%201.109.09%201.109v1.631h7.347l-.009-.953s.043-1.01-.062-1.914c-.517-5.491-5.062-7.197-10.235-7.197-5.155%200-9.563%201.722-10.197%207.197a16.812%2016.812%200%200%200-.128%201.914v12.26c0%20.545.003.947.106%201.917.483%205.286%205.063%207.194%2010.219%207.194%205.174%200%209.78-1.909%2010.271-7.194.069-.97.09-1.372.09-1.917v-7.832h-10.312v4.279z%22/%3E%3C/svg%3E) center center no-repeat;
    width: 84px;
    height: 22px;
}
.payco-icon{
    background: url(data:image/svg+xml,%3Csvg%20viewBox%3D%220%200%20213%2048%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20fill%3D%22%23fa1414%22%3E%3Cpath%20d%3D%22M0%205.502A5.065%205.065%200%200%201%205.105.397h13.856c11.072%200%2017.768%206.563%2017.768%2016.044v.133c0%2010.74-8.353%2016.309-18.762%2016.309H10.21v9.613a5.065%205.065%200%200%201-5.105%205.105A5.064%205.064%200%200%201%200%2042.497V5.502zm18.298%2018.299c5.105%200%208.089-3.05%208.089-7.028v-.133c0-4.575-3.183-7.028-8.287-7.028h-7.89V23.8h8.088v.001zM35.102%2040.641L51.278%204.11C52.405%201.59%2054.461.066%2057.245.066h.597c2.784%200%204.773%201.525%205.9%204.044L79.92%2040.641c.331.729.53%201.392.53%202.055%200%202.718-2.122%204.906-4.839%204.906-2.387%200-3.978-1.392-4.907-3.513l-3.116-7.293h-20.42l-3.249%207.625c-.862%201.989-2.586%203.182-4.707%203.182-2.652%200-4.707-2.122-4.707-4.773%200-.73.265-1.46.597-2.189zm28.707-12.862l-6.431-15.315-6.431%2015.315h12.862zM91.248%2029.304L76.265%208.95c-.73-.994-1.26-2.188-1.26-3.647%200-2.718%202.254-4.906%205.105-4.906%202.32%200%203.779%201.26%205.039%203.116L96.42%2019.756%20107.889%203.38c1.26-1.856%202.785-3.049%204.906-3.049%203.117%200%204.973%202.188%204.973%204.972%200%201.393-.663%202.652-1.326%203.58l-14.984%2020.221v13.392a5.065%205.065%200%200%201-5.105%205.105%205.065%205.065%200%200%201-5.105-5.105V29.304zM118.078%2024.133V24c0-13.193%209.944-24%2024.199-24%206.961%200%2011.668%201.856%2015.514%204.707%201.06.795%201.989%202.254%201.989%204.044%200%202.784-2.254%204.973-5.039%204.973-1.392%200-2.32-.53-3.05-.994-2.851-2.122-5.834-3.315-9.481-3.315-7.823%200-13.458%206.497-13.458%2014.453V24c0%207.956%205.503%2014.585%2013.458%2014.585%204.31%200%207.16-1.326%2010.078-3.646.796-.663%201.857-1.127%203.05-1.127%202.586%200%204.773%202.122%204.773%204.707%200%201.591-.796%202.851-1.723%203.646C154.21%2045.812%20149.304%2048%20141.879%2048c-13.658%200-23.801-10.542-23.801-23.867zM162.773%2024.133V24c0-13.193%2010.408-24%2024.729-24s24.597%2010.674%2024.597%2023.867V24c0%2013.193-10.409%2024-24.73%2024-14.32%200-24.596-10.674-24.596-23.867zm38.651%200V24c0-7.956-5.834-14.586-14.055-14.586s-13.922%206.497-13.922%2014.453V24c0%207.956%205.834%2014.585%2014.055%2014.585s13.922-6.497%2013.922-14.452z%22/%3E%3C/svg%3E) center center no-repeat;
    width: 48px;
    height: 20px;
}

#terms-and-conditions-check {
	width: 30px;
	height: 30px;
	margin-right: 6px;
}

article > p:before {
	display:block;
	position:relative;
	left:-10px;
	top:20px;
	content:'';
	width:4px;
	height:4px;
	background: black;
	opacity: 25%;
	margin-bottom:3px;
	margin-right:5px;
}
article > p {
	padding-left:10px;
	font-size: 14px;
	opacity: 80%;
	margin-bottom: 5px;
}

.cash-info p, .cash-info table {
	font-size:12px;
	opacity:75%;
}
.cash-info table {
	letter-spacing: -0.05em;
}
