@charset "UTF-8";
@import "variables.css";
@import "font.css";

a {
  color: black;
  text-decoration: none;
}

p {
  margin: 0;
}

section {
  width: 980px;
  min-height: 400px;
}

.book_img {
  width: 68px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.check-icon {
  width: 15px;
}
.check-icon + span {
  color: #5382b9;
}

.summary_info_wrapper {
  font-size: 13px;
  font-weight: 700;
  border: 1px solid #87b4e9;
}

.summary_info_wrapper p {
  color: #738096;
}

.summary_total_wrapper {
  background: #ebf6ff;
}
.summary_total_wrapper span {
  font-size: 20px;
  font-weight: 700;
  color: var(--main-color);
}

.buy_button_wrapper {
  height: 54px;
}

#buy_button {
  background: var(--main-color);
  border: 1px solid var(--main-color);
  box-shadow: 0 2px 4px 0 rgb(31 140 230 / 30%);
}

#buy_button:focus,
#buy_button:hover {
  background: #0077d9;
}

.cart_wrapper {
  position: relative;
}

.cart_nav,
section form {
  width: 618px;
}

section form > div {
  padding: 0px 20px;
}

input[type=checkbox] {
	width:18px;
	height:18px;
	margin-right:6px;
}

.btn-outline-secondary{
	--bs-btn-font-weight: 800;
	--bs-btn-padding-x: 10px;
	--bs-btn-padding-y: 5px;
	font-size:12px;
	border: 1px solid var(--bs-gray-400);
}

section form label, section form span {
	font-size: 14px;
}

del {
	font-size: 10px;
}


#cart_summary_wrapper {
  position: absolute;
  top: 0;
  right: 0;
  width: 290px;
  height: 100%;
}

.rent_empty {
	height:400px;
}

.rent_empty img {
	width:80px;
	opacity:10%;
}

.cart_book_price {
	width: 40%;
}

footer div.col-3 a {
    position: relative;
    display: block;
    padding: 10px 15px;
}

